#game {
  display: flex;
  flex-flow: wrap;
  max-width: 50%;

  button {
    margin: 4px;

    &.active {
      background-color: aqua;
    }

    &.error {
      background-color: crimson;
    }
  }
}
